csyy/src/main/resources/system/conf/query/sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema targetNamespace="x-schema:sql.xsd"
 xmlns="x-schema:sql.xsd"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="where">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="if" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="insert">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sql"/>
				<xs:element ref="values"/>
				<xs:choice>
					<xs:element ref="trim"/>
					<xs:element ref="where"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="des" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="author" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="update">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sql"/>
				<xs:element ref="set"/>
				<xs:choice>
					<xs:element ref="trim"/>
					<xs:element ref="where"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="des" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="author" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="jyhu"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="trim">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="if" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="prefix" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="where"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sqlXml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="select"/>
				<xs:element ref="update" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sql">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="select * from t_user"/>
				<xs:enumeration value="update user "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="set">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="if"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="select">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sql"/>
				<xs:element ref="trim"/>
				<xs:element ref="order"/>
				<xs:element ref="group"/>
			</xs:sequence>
			<xs:attribute name="resultType" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="parameterType" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="key" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="des" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="author" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="jyhu"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exp"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="desc"/>
						<xs:enumeration value="asc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exp"  minOccurs="1"/>
				<xs:element ref="having"  minOccurs="1"/>
			</xs:sequence>
			
			
		</xs:complexType>
	</xs:element>
	<xs:element name="if">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exp"/>
			</xs:sequence>
			<xs:attribute name="test" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="#name!=22"/>
						<xs:enumeration value="#name!=null"/>
						<xs:enumeration value="name!=null"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="prefix">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="and"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="exp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" name"/>
				<xs:enumeration value="name=#{name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="having">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
